.DS_Store
.terraform/
terraform/.lambda-packages/*.zip
layers/ffmpeg/build/
layers/ffmpeg/bin/
layers/ffmpeg/ffmpeg-layer.zip
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.tfplan
__pycache__/
.pytest_cache/
terraform/.terraform.lock.hcl
*.json
*.mp4
*.txt